PORT=8000
DB_USER=postgres
DB_HOST=localhost
DB_NAME=messapp
DB_PASSWORD=postgres
DB_PORT=5432
JWT_SECRET=your_jwt_secret_key
EMAIL_USER=your_gmail@gmail.com
EMAIL_PASS=your_16_char_google_app_password
